:root{
    --back-color: #016392;
    --font-color: #ffffff;
    --back-hover: #014f73;
    --container-width: 990px;
    --title-color: #016392;
    --footer-color: #011F4B;
}
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;    
}


/* Header */

header{
    display: flex;
    justify-content: center;
    height: 100px;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--container-width);
}
header .logo{
    flex: 1;
    padding-left: 20px;
}
header .menu{
    flex: 2;
    padding-right: 20px;
}
header .logo{
    display: flex;
    justify-content: flex-start;
}
.menu-toggle {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #333; /* Cor do ícone */
    transition: 0.3s;
}
header .menu{
    display: flex;
    justify-content: center;
}
.menu{
    list-style: none;
    margin: 0;
    padding: 0;;
}
.menu  li {
    position: relative;
    display: inline-block;
    background: var(--back-color);
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
.menu li a{
    color: #fff;
    text-decoration: none;
}
.menu li:hover {
    background: var(--back-hover);
}
.hidden_menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--back-color);
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
    border-radius: 5px;
}
.hidden_menu li {
    display: flex;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}
.hidden_menu li:hover {
    background: var(--back-hover);
}
.menu li:hover .hidden_menu {
    display: block;
}


/* Fim Header */

/* Banner */
#banner{
    display: flex;
    justify-content: center;
    background-image: url(../Images/Banner.svg);
    background-position: center;
    background-size: cover;
    height: 500px;
}
.banner_container{
    justify-content: flex-start;
}

.banner_text{
    padding-left: 20px;
    text-align: left;
    font-weight: bold;
}
.banner_text h1{
    font-size: 40px;
    color: var(--title-color);
    margin: 0;
    padding: 0;
}
.banner_text h2{
    font-size: 20px;
    color: var(--font-color);
}
.banner_text a{
    display: inline-block;
    text-decoration: none;
    color: var(--font-color);
    background-color: var(--back-color);
    padding: 10px 20px;
    border-radius: 5px;
}
.banner_text a:hover{
    background-color: var(--back-hover);
}
/* Fim Banner */

/* Info Section */

#info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    height: 400px;
}
.info_text h2{
    font-size: 30px;
}
.info_text  h2 strong{
    color: var(--title-color);
    
}
.info_image, .info_text{
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
}
.info_image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.info_image img{
    height: 300px;
    border-radius: 5px;
}

/* Fim Info Section */

/* Service Section */
.Services {
    display: flex;
    justify-content: center;
    background-color: var(--back-color);
    width: 100vw;
    padding-bottom: 30px;
}
.column{
    flex-direction: column;
}
.title_services{
    text-align: center;
    color: var(--font-color);
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}
.title_services h2{
    font-size: 30px;
    margin-bottom: 5px;
    color: var(--font-color);
}
.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.Box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    height: 480px;
    width: 310px;
    margin: 10px;
    border-radius: 5px;
}
.Box h2{
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
}
.product_image, .product_description{
    flex: 1;

}
.product_image{
    display: flex;
    justify-content: center;
}
.product_image img{
    width: 80%;
    object-fit: cover;
    max-height: 250px;
    height: 250px;
    border-radius: 10px;
    
}
.product_description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
    text-align: center;
}
.products a{
    display: inline-block;
    padding: 10px;
    background-color: var(--back-color);
    text-decoration: none;
    color: var(--font-color);
    border-radius: 5px;
    margin-bottom: 20px;
}
.products a:hover{
    background-color: var(--back-hover);
}
.products a :visited{
    color: var(--font-color);
}

/* Fim Service Section */

/* Footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: var(--footer-color);
    color: #fff;
    text-align: center;
}

footer .container{
    padding: 20px 0;
}
.footer_info, .footer_text, .footer_menu{
    flex: 1;
    margin: 0 10px;
}
.footer_info{
    display: flex;
    justify-content: start;
    flex: 1;
    flex-direction: column;
    text-align: left;
}
.footer_info a {
    text-decoration: none;
    color: var(--font-color);
}
.footer_info a:hover{
    color: #cccccc;
    text-decoration: underline;
}
.footer_menu ul{
    list-style: none;
    padding: 0;
}
.footer_menu ul li{
    margin: 10px 0;
}
.footer_menu ul li a{
    text-decoration: none;
    color: #fff;
}
.footer_menu ul li a:visited{
    color: #fff;
}
.footer_menu ul li a:hover{
    color: #cccccc;
    text-decoration: underline;
}

/*  End Footer */

/* Services Pages */

#Info_service{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

}
#Info_service .container{
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info_image{
    flex: 1;
    display: flex;
    margin-right: 10px;
    justify-content: center;

}
.info_image img{
    height: 300px;
    border-radius: 5px;
}
.info_text{
    flex: 1;

}
h1{
    color: var(--title-color);
}

/* Catalog */

#Catalog{
    display: flex;
    justify-content: center;
    background: var(--back-color);
    padding-bottom: 50px;
}
#Catalog .container{
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.catalog_title{
    color: #fff;
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
}
.catalog_images{
    display: flex;
    flex-wrap: wrap;

}
.box {
    display: flex;
    justify-content: center;
    flex: 1 0 20%;
    box-sizing: border-box;
    margin: 10px;
    background-color: #fff;
    height: 300px;
    border-radius: 5px;
}
.box img{
    margin-top: 20px;
    max-width: 80%;
    border-radius: 5px;
    object-fit: cover;
    height: 260px;
}

/* End Services Pages */

/* About Us Page */

#aboutUs{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
#aboutUs .container{
    margin-bottom: 50px;
}
.aboutUs_content {
    display: flex;
    justify-content: center;
}
.aboutUs_img, .aboutUs_text{
    flex: 1;
    padding: 20px;
}
.aboutUs_img img{
    height: 290px;
    border-radius: 10px;
}

/* End About Us page */

/* Contacts Page */




/* End Contacts Page */


/* Layout for Tablets*/

